ini.dtd

<!--
   Copyright 2023 Karstian Lee. All rights reserved.
  -->

<!-- DTD for INI -->

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE ini

[

<!ELEMENT ini ( comment?, section* ) >

<!ATTLIST ini version CDATA #FIXED "1.0">

<!ELEMENT comment (#PCDATA) >

<!ELEMENT section ( entry* ) >

<!ELEMENT entry (#PCDATA) >

<!ATTLIST entry key CDATA #REQUIRED>

]>
