ini.dtd

<!--
   Copyright 2023 Karstian Lee. All rights reserved.
  -->

<!-- DTD for INI -->

<!ELEMENT ini ( comment?, section* ) >

<!ATTLIST ini version CDATA #FIXED "1.0">

<!ELEMENT comment (#PCDATA) >

<!ELEMENT section ( section*, entry* ) >

<!ATTLIST section name CDATA #REQUIRED>

<!ELEMENT entry (#PCDATA) >

<!ATTLIST entry key CDATA #REQUIRED>
